input {
  border-radius: 0;
  border: 0;
}

.navbar {
  height: 8rem;
  background-color: #e5ebff;
  border-bottom: .1rem solid #b1bbdc;
}

.navbar__menu {
  display: flex;
}

.navbar__text-decoration {
  text-decoration: underline;
}

.navbar__menu-options {
  display: flex;
}

.navbar__menu-item {
  cursor: pointer;
  padding: .5rem 1rem;
}

.navbar__logo {
  margin-left: 1rem;
  padding: .4rem 0;
  height: 3rem;
}

.navbar__input {
  width: 25rem;
}

.navbar__input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  top: -.2rem;
  padding: .25rem .2rem .2rem 1.2rem;
  border: .15rem solid lightgray;
  background-color: #fcfcfc;
}

.navbar__menu-icons {
  font-size: 1rem !important;
  margin-left: 1rem;
}

.navbar__input:hover {
  border: 0;
}
